<!DOCTYPE html>
<html>
  <head>
    <title> Thermostat</title>
  </head>
  <body>
    <p> Your thermostat</p>
    <p id='temperature_display'> Temp (15 degrees) </p>
    
    <button id='temperature_up'>+</button>
    <input id='temp_up_input', type=text> 

    <button id='temperature_down'>-</button>
    <input id='temp_down_input', type=text> 

    <button id='psm_on'>Power saving mode: On</button>
    <button id='psm_off'>Power saving mode: Off</button>

    <script src="../src/thermostat.js"></script>
</body>
</html>